
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
 

    @await RenderSectionAsync("Scripts", required: false)


@*Тук са пряко свързани index.cshtml и _Layout.cshtml, Layout прави промени в горната и долната част на страницата - Header и footer*@